


{% extends 'base.html' %}

{% block content %}

<div class="container mt-5" style="background-color: rgb(211, 238, 228);">
    <a class="btn btn-success" href="{% url 'register' %}"><i class="fa-solid fa-circle-plus"></i> Create</a>
    <table class="table table-info">
        <thead>
          <tr>  
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Buttons</th>
          </tr>
        </thead>
        <tbody>
            {% for data in data %}
          <tr>
            <th scope="row">{{data.id}}</th>
            <td><a href="{% url 'profile' data.id %}">{{data.first_name}}</a></td>
            <td>{{data.last_name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.username}}</td>
            <td>
                <a class="btn btn-info" href="{% url 'read_data' data.id %}"><i class="fa-solid fa-book"></i></a>
                <a class="btn btn-warning" href="{% url 'register' %}"><i class="fa-regular fa-pen-to-square"></i></a>&nbsp;
                <a class="btn btn-danger" href="{% url 'delete_data' data.id %}"><i class="fa-solid fa-trash"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock content %}